.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .menu {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    color: white;

    img {
      height: 40px;
      margin-right: 40px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    ul {
      display: flex;
      list-style: none;
      width: 100%;
    }

    li {
      padding: 0 3vw;

      a {
        text-decoration: none;
        color: white;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: white;
          transition: width 0.3s ease;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
  }

  button {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 2px;
    background: none;
    color: white;
    transition: all 0.3s ease;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: rgba(50, 105, 137, 1);
    }
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    margin-bottom: 30px;

    .menu {
      flex-direction: column;
      padding-bottom: 0;

      img {
        margin-right: 0;
      }

      nav {
        margin: 30px 0;

        li {
          padding: 0 10vw;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    margin-bottom: 10px;

    .menu {
      padding-top: 30px;

      nav {
        margin: 20px 0;
      }
    }
  }
}
